<!DOCTYPE html>
<html>

<head>
  <title>Emoji Art Generator</title>
  <style>
    /* CSS cho toàn bộ trang */
    body {
      background-color: #f9f9f9; /* Màu nền nhẹ nhàng cho toàn bộ trang */
      font-family: Arial, sans-serif;
      color: #333;
    }

    /* CSS cho khu vực điều khiển */
    #controls {
      background-color: #f0f0f0; /* Màu nền nhẹ nhàng cho khu vực điều khiển */
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /* Định dạng tiêu đề h1 */
    h1 {
      font-size: 28px;
      margin: 0;
      padding: 10px;
    }

    /* Định dạng nhãn */
    label {
      font-size: 18px;
      color: #444;
      margin-bottom: 5px;
    }

    /* Định dạng thanh trượt input */
    input[type="range"] {
      width: 200px;
      background-color: #ddd;
    }

    /* Định dạng chú thích cạnh thanh trượt */
    .infoLabel {
      font-size: 14px;
      color: #555;
      margin-top: 5px;
    }

    /* Định dạng nút Download Image */
    a {
      display: inline-block;
      padding: 12px 24px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 20px;
    }

    /* Định dạng tùy chọn select */
    select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-top: 10px;
    }

    /* Định dạng chân trang footer */
    footer {
      background-color: #f0f0f0;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      margin-top: 30px;
    }
